.containerReviews {
   height: 500px;
   overflow: hidden;
   display: flex;
   justify-content: center;
}

.yarkov-remont-otzyvy {
   width: 256px;
   height: 440px;
}

.container-yarkov-remont-otzyvy {
   display: flex;
   width: 1099px;
   justify-content: space-between;
   height: 440px;
}