.container-description {
   overflow: hidden;
   display: flex;
   justify-content: center;
}



.text-description{
   font-size: 20px;
   line-height: 1.55;
   font-family: 'TildaSans',Arial,sans-serif;
   font-weight: 300;
   color: #000000;
   width: 757px;
   height: 500px;
   border: none;
   background-color: #fff;
}

.container-text {
   display: flex;
   width: 757px;
   flex-direction: column;
   height: 423px;
}